In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.chdir("/workspaces/group-project-team2/checkpoint/data_acquisition/")

In [3]:
brfs1 = pd.read_parquet("BRFSS_2024_1.parquet.gzip")
brfs2 =  pd.read_parquet("BRFSS_2024_2.parquet.gzip")

In [4]:
brfs1.info()
brfs2.info()

<class 'pandas.DataFrame'>
RangeIndex: 228835 entries, 0 to 228834
Columns: 301 entries, _STATE to _AIDTST4
dtypes: float64(296), object(5)
memory usage: 525.5+ MB
<class 'pandas.DataFrame'>
RangeIndex: 228835 entries, 228835 to 457669
Columns: 301 entries, _STATE to _AIDTST4
dtypes: float64(296), object(5)
memory usage: 525.5+ MB

In [5]:
brfss = pd.concat([brfs1, brfs2], axis = 0)

In [6]:
brfss.info()

<class 'pandas.DataFrame'>
RangeIndex: 457670 entries, 0 to 457669
Columns: 301 entries, _STATE to _AIDTST4
dtypes: float64(296), object(5)
memory usage: 1.0+ GB

In [7]:
brfss.describe()

,_STATE,FMONTH,DISPCODE,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
count,457670.000000,457670.000000,457670.000000,4.576700e+05,81730.0,81730.000000,14.0,81730.0,81730.0,81730.000000,...,393433.000000,406226.000000,457670.000000,4.576690e+05,457670.000000,4.576700e+05,457670.000000,179344.000000,179344.000000,414178.000000
mean,30.823537,6.426995,1118.669784,2.024007e+09,1.0,1.000171,1.0,1.0,2.0,1.001835,...,3.420252,8.468687,2.196764,1.000599e+02,1.948965,1.044393e+04,1.869063,2.336850,2.462223,1.999684
std,15.939364,3.356938,38.966920,7.488291e+03,0.0,0.013087,0.0,0.0,0.0,0.042801,...,0.792956,1.892208,2.226566,2.613717e+02,2.418721,3.016653e+04,2.414067,2.602255,2.814818,1.665037
min,1.000000,1.000000,1100.000000,2.024000e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,1.000000,1.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
25%,18.000000,4.000000,1100.000000,2.024002e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,3.000000,9.000000,1.000000,5.397605e-79,1.000000,5.397605e-79,1.000000,1.000000,1.000000,1.000000
50%,31.000000,7.000000,1100.000000,2.024005e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,4.000000,9.000000,2.000000,3.000000e+00,1.000000,4.700000e+01,1.000000,1.000000,1.000000,2.000000
75%,44.000000,9.000000,1100.000000,2.024008e+09,1.0,1.000000,1.0,1.0,2.0,1.000000,...,4.000000,9.000000,2.000000,2.900000e+01,1.000000,4.670000e+02,1.000000,2.000000,2.000000,2.000000
max,78.000000,12.000000,1200.000000,2.024044e+09,1.0,2.000000,1.0,1.0,2.0,2.000000,...,4.000000,9.000000,9.000000,9.000000e+02,9.000000,9.990000e+04,9.000000,9.000000,9.000000,9.000000

In [8]:
brfss.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0

In [9]:
for col in brfss.columns:
    print(col)

_STATE
FMONTH
IDATE
IMONTH
IDAY
IYEAR
DISPCODE
SEQNO
_PSU
CTELENM1
PVTRESD1
COLGHOUS
STATERE1
CELPHON1
LADULT1
NUMADULT
RESPSLC1
LANDSEX3
SAFETIME
CTELNUM1
CELLFON5
CADULT1
CELLSEX3
PVTRESD3
CCLGHOUS
CSTATE1
LANDLINE
HHADULT
SEXVAR
GENHLTH
PHYSHLTH
MENTHLTH
POORHLTH
PRIMINS2
PERSDOC3
MEDCOST1
CHECKUP1
EXERANY2
LASTDEN4
RMVTETH4
CVDINFR4
CVDCRHD4
CVDSTRK3
ASTHMA3
ASTHNOW
CHCSCNC1
CHCOCNC1
CHCCOPD3
ADDEPEV3
CHCKDNY2
HAVARTH4
DIABETE4
DIABAGE4
MARITAL
EDUCA
RENTHOM1
NUMHHOL4
NUMPHON4
CPDEMO1C
VETERAN3
EMPLOY1
CHILDREN
INCOME3
PREGNANT
WEIGHT2
HEIGHT3
DEAF
BLIND
DECIDE
DIFFWALK
DIFFDRES
DIFFALON
HADMAM
HOWLONG
CERVSCRN
CRVCLCNC
CRVCLPAP
CRVCLHPV
HADHYST2
HADSIGM4
COLNSIGM
COLNTES1
SIGMTES1
LASTSIG4
COLNCNCR
VIRCOLO1
VCLNTES2
SMALSTOL
STOLTEST
STOOLDN2
BLDSTFIT
SDNATES1
SMOKE100
SMOKDAY2
USENOW3
ECIGNOW3
LCSFIRST
LCSNUMCG
LCSCTSC1
LCSSCNCR
LCSCTWHN
ALCDAY4
AVEDRNK4
DRNK3GE5
MAXDRNKS
FLUSHOT7
FLSHTMY3
IMFVPLA5
PNEUVAC4
HIVTST7
HIVTSTD3
HIVRISK5
PDIABTS1
PREDIAB2
DIABTYPE
INSULIN1
CHKHEMO3
EYEEXAM1
DIABEYE1
DIABEDU1
FEETSORE
ARTHEXER
SHINGLE2
HPVADVC4
HPVADSH1
TETANUS1
CNCRDIFF
CNCRAGE
CNCRTYP2
CSRVTRT3
CSRVDOC1
CSRVSUM
CSRVRTRN
CSRVINST
CSRVINSR
CSRVDEIN
CSRVCLIN
CSRVPAIN
CSRVCTL2
PSATEST1
PSATIME1
PCPSARS2
PSASUGS1
PCSTALK2
CIMEMLO1
CDWORRY
CDDISCU1
CDHOUS1
CDSOCIA1
CAREGIV1
CRGVREL5
CRGVPRB4
CRGVALZD
CRGVNURS
CRGVPER2
CRGVHOU2
CRGVHRS2
CRGVLNG2
ACEDEPRS
ACEDRINK
ACEDRUGS
ACEPRISN
ACEDIVRC
ACEPUNCH
ACEHURT1
ACESWEAR
ACETOUCH
ACETTHEM
ACEHVSEX
ACEADSAF
ACEADNED
LSATISFY
EMTSUPRT
SDLONELY
SDHEMPLY
FOODSTMP
SDHFOOD1
SDHBILLS
SDHUTILS
SDHTRNSP
HOWSAFE1
MARIJAN1
MARJSMOK
MARJEAT
MARJVAPE
MARJDAB
MARJOTHR
USEMRJN4
LASTSMK2
STOPSMK2
MENTCIGS
MENTECIG
HEATTBCO
SSBSUGR2
SSBFRUT3
FIREARM5
GUNLOAD
LOADULK2
RCSGEND1
RCSXBRTH
RCSRLTN2
CASTHDX2
CASTHNO2
SOMALE
SOFEMALE
HADSEX
PFPPRVN4
TYPCNTR9
NOBCUSE8
QSTVER
QSTLANG
HPVDSHT
ICFQSTVR
_METSTAT
_URBSTAT
MSCODE
_STSTR
_STRWT
_RAWRAKE
_WT2RAKE
_IMPRACE
_CHISPNC
_CRACE1
CAGEG
_CLLCPWT
_DUALUSE
_DUALCOR
_LLCPWT2
_LLCPWT
_RFHLTH
_PHYS14D
_MENT14D
_HLTHPL2
_HCVU654
_TOTINDA
_EXTETH3
_ALTETH3
_DENVST3
_MICHD
_LTASTH1
_CASTHM1
_ASTHMS1
_DRDXAR2
_MRACE1
_HISPANC
_RACE
_RACEG21
_RACEGR3
_RACEPRV
_SEX
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G
HTIN4
HTM4
WTKG3
_BMI5
_BMI5CAT
_RFBMI5
_CHLDCNT
_EDUCAG
_INCOMG1
_RFMAM23
_MAM402Y
_CRVSCRN
_RFPAP37
_HPV5YR1
_PAPHPV1
_HADCOLN
_CLNSCP2
_HADSIGM
_SGMSCP2
_SGMS102
_RFBLDS6
_STOLDN2
_VIRCOL2
_SBONTI2
_CRCREC3
_SMOKER3
_RFSMOK3
_CURECI3
LCSLAST_
LCSNUMC_
_LCSAGE
_LCSYSMK
_PACKDAY
_PACKYRS
_LCSYQTS
_LCSSMKG
_LCSELIG
_LCSCTSN
_LCSPSTF
DRNKANY6
DROCDY4_
_RFBING6
_DRNKWK3
_RFDRHV9
_FLSHOT7
_PNEUMO3
_AIDTST4

In [10]:
columns_list = brfss.columns.tolist()
print(columns_list)

['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE', 'SEQNO', '_PSU', 'CTELENM1', 'PVTRESD1', 'COLGHOUS', 'STATERE1', 'CELPHON1', 'LADULT1', 'NUMADULT', 'RESPSLC1', 'LANDSEX3', 'SAFETIME', 'CTELNUM1', 'CELLFON5', 'CADULT1', 'CELLSEX3', 'PVTRESD3', 'CCLGHOUS', 'CSTATE1', 'LANDLINE', 'HHADULT', 'SEXVAR', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'PRIMINS2', 'PERSDOC3', 'MEDCOST1', 'CHECKUP1', 'EXERANY2', 'LASTDEN4', 'RMVTETH4', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNC1', 'CHCOCNC1', 'CHCCOPD3', 'ADDEPEV3', 'CHCKDNY2', 'HAVARTH4', 'DIABETE4', 'DIABAGE4', 'MARITAL', 'EDUCA', 'RENTHOM1', 'NUMHHOL4', 'NUMPHON4', 'CPDEMO1C', 'VETERAN3', 'EMPLOY1', 'CHILDREN', 'INCOME3', 'PREGNANT', 'WEIGHT2', 'HEIGHT3', 'DEAF', 'BLIND', 'DECIDE', 'DIFFWALK', 'DIFFDRES', 'DIFFALON', 'HADMAM', 'HOWLONG', 'CERVSCRN', 'CRVCLCNC', 'CRVCLPAP', 'CRVCLHPV', 'HADHYST2', 'HADSIGM4', 'COLNSIGM', 'COLNTES1', 'SIGMTES1', 'LASTSIG4', 'COLNCNCR', 'VIRCOLO1', 'VCLNTES2', 'SMALSTOL', 'STOLTEST', 'STOOLDN2', 'BLDSTFIT', 'SDNATES1', 'SMOKE100', 'SMOKDAY2', 'USENOW3', 'ECIGNOW3', 'LCSFIRST', 'LCSNUMCG', 'LCSCTSC1', 'LCSSCNCR', 'LCSCTWHN', 'ALCDAY4', 'AVEDRNK4', 'DRNK3GE5', 'MAXDRNKS', 'FLUSHOT7', 'FLSHTMY3', 'IMFVPLA5', 'PNEUVAC4', 'HIVTST7', 'HIVTSTD3', 'HIVRISK5', 'PDIABTS1', 'PREDIAB2', 'DIABTYPE', 'INSULIN1', 'CHKHEMO3', 'EYEEXAM1', 'DIABEYE1', 'DIABEDU1', 'FEETSORE', 'ARTHEXER', 'SHINGLE2', 'HPVADVC4', 'HPVADSH1', 'TETANUS1', 'CNCRDIFF', 'CNCRAGE', 'CNCRTYP2', 'CSRVTRT3', 'CSRVDOC1', 'CSRVSUM', 'CSRVRTRN', 'CSRVINST', 'CSRVINSR', 'CSRVDEIN', 'CSRVCLIN', 'CSRVPAIN', 'CSRVCTL2', 'PSATEST1', 'PSATIME1', 'PCPSARS2', 'PSASUGS1', 'PCSTALK2', 'CIMEMLO1', 'CDWORRY', 'CDDISCU1', 'CDHOUS1', 'CDSOCIA1', 'CAREGIV1', 'CRGVREL5', 'CRGVPRB4', 'CRGVALZD', 'CRGVNURS', 'CRGVPER2', 'CRGVHOU2', 'CRGVHRS2', 'CRGVLNG2', 'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT1', 'ACESWEAR', 'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'ACEADSAF', 'ACEADNED', 'LSATISFY', 'EMTSUPRT', 'SDLONELY', 'SDHEMPLY', 'FOODSTMP', 'SDHFOOD1', 'SDHBILLS', 'SDHUTILS', 'SDHTRNSP', 'HOWSAFE1', 'MARIJAN1', 'MARJSMOK', 'MARJEAT', 'MARJVAPE', 'MARJDAB', 'MARJOTHR', 'USEMRJN4', 'LASTSMK2', 'STOPSMK2', 'MENTCIGS', 'MENTECIG', 'HEATTBCO', 'SSBSUGR2', 'SSBFRUT3', 'FIREARM5', 'GUNLOAD', 'LOADULK2', 'RCSGEND1', 'RCSXBRTH', 'RCSRLTN2', 'CASTHDX2', 'CASTHNO2', 'SOMALE', 'SOFEMALE', 'HADSEX', 'PFPPRVN4', 'TYPCNTR9', 'NOBCUSE8', 'QSTVER', 'QSTLANG', 'HPVDSHT', 'ICFQSTVR', '_METSTAT', '_URBSTAT', 'MSCODE', '_STSTR', '_STRWT', '_RAWRAKE', '_WT2RAKE', '_IMPRACE', '_CHISPNC', '_CRACE1', 'CAGEG', '_CLLCPWT', '_DUALUSE', '_DUALCOR', '_LLCPWT2', '_LLCPWT', '_RFHLTH', '_PHYS14D', '_MENT14D', '_HLTHPL2', '_HCVU654', '_TOTINDA', '_EXTETH3', '_ALTETH3', '_DENVST3', '_MICHD', '_LTASTH1', '_CASTHM1', '_ASTHMS1', '_DRDXAR2', '_MRACE1', '_HISPANC', '_RACE', '_RACEG21', '_RACEGR3', '_RACEPRV', '_SEX', '_AGEG5YR', '_AGE65YR', '_AGE80', '_AGE_G', 'HTIN4', 'HTM4', 'WTKG3', '_BMI5', '_BMI5CAT', '_RFBMI5', '_CHLDCNT', '_EDUCAG', '_INCOMG1', '_RFMAM23', '_MAM402Y', '_CRVSCRN', '_RFPAP37', '_HPV5YR1', '_PAPHPV1', '_HADCOLN', '_CLNSCP2', '_HADSIGM', '_SGMSCP2', '_SGMS102', '_RFBLDS6', '_STOLDN2', '_VIRCOL2', '_SBONTI2', '_CRCREC3', '_SMOKER3', '_RFSMOK3', '_CURECI3', 'LCSLAST_', 'LCSNUMC_', '_LCSAGE', '_LCSYSMK', '_PACKDAY', '_PACKYRS', '_LCSYQTS', '_LCSSMKG', '_LCSELIG', '_LCSCTSN', '_LCSPSTF', 'DRNKANY6', 'DROCDY4_', '_RFBING6', '_DRNKWK3', '_RFDRHV9', '_FLSHOT7', '_PNEUMO3', '_AIDTST4']

## Selecting Relevant Variables

In [11]:
cols = ["_AGE_G", "_SEX","_BMI5","_RFBMI5","HTM4", "_TOTINDA","WTKG3", "_RFSMOK3",
        "_RFDRHV9","_EDUCAG" , "_INCOMG1"]
data = brfss[cols]

## Data Processing

In [12]:

# Renaming Variable Names

data = data.rename(columns={ "_SEX": "Sex",
                           "_BMI5": "BMI",
                           "_AGE_G": "Age_group",
                           "_RFBMI5": "Obese",
                           "HTM4": "Height(m)",
                           "_TOTINDA": "Physical_Activity",
                           "WTKG3": "Weight(kg)",
                           "_RFSMOK3": "Smoker",
                           "_RFDRHV9": "Heavy_Drinker",
                           "_EDUCAG": "Education_level",
                           "_INCOMG1": "Income_Cat"
                         })
data.columns

Index(['Age_group', 'Sex', 'BMI', 'Obese', 'Height(m)', 'Physical_Activity',
       'Weight(kg)', 'Smoker', 'Heavy_Drinker', 'Education_level',
       'Income_Cat'],
      dtype='str')

In [13]:
data.head()

,Age_group,Sex,BMI,Obese,Height(m),Physical_Activity,Weight(kg),Smoker,Heavy_Drinker,Education_level,Income_Cat
0,6.0,2.0,2249.0,1.0,163.0,1.0,5942.0,1.0,1.0,2.0,9.0
1,6.0,1.0,2583.0,2.0,178.0,1.0,8165.0,1.0,1.0,4.0,7.0
2,5.0,1.0,2253.0,1.0,198.0,1.0,8845.0,2.0,1.0,3.0,9.0
3,6.0,1.0,2509.0,2.0,173.0,1.0,7484.0,1.0,1.0,4.0,4.0
4,4.0,1.0,1977.0,1.0,173.0,2.0,5897.0,1.0,1.0,3.0,2.0

## Mapping Values In Categorical Variables

In [14]:

# Mapping Values In Categorical Variables ... Changing them From Numeric to Categories

# Converting  income var to integer
data["Income_Cat"] = data["Income_Cat"].astype("Int64")

# Ordered income categories
income_order = [
        "Less than $15,000",
        "$15,000 < $25,000",
        "$25,000 < $35,000",
        "$35,000 < $50,000",
        "$50,000 < $100,000",
        "$100,000 < $200,000",
        "$200,000 or more",
        "Missing/Don’t know",
]

# Replacing numeric codes with categories 
data["Income_Cat"] = pd.Categorical(
    data["Income_Cat"].map({
        1: "Less than $15,000",
        2: "$15,000 < $25,000",
        3: "$25,000 < $35,000",
        4: "$35,000 < $50,000",
        5: "$50,000 < $100,000",
        6: "$100,000 < $200,000",
        7: "$200,000 or more",
        9: np.nan
    }),
    categories = income_order,
    ordered = True
)

In [15]:

# Converting  education variable to integer 
data["Education_level"] = data["Education_level"].astype("Int64")

# Ordered education categories
education_order = [
    "Did not graduate High School",
    "Graduated High School",
    "Attended College or Technical School",
    "Graduated from College or Technical School",
    "Don’t know/Not sure/Missing"
]

# Replace numeric codes with categories and create an ordered categorical
data["Education_level"] = pd.Categorical(
    data["Education_level"].map({
        1: "Did not graduate High School",
        2: "Graduated High School",
        3: "Attended College or Technical School",
        4: "Graduated from College or Technical School",
        9: np.nan
    }),
    categories=education_order,
    ordered=True
)

In [ ]:

# Converting the column to integer
data["Heavy_Drinker"] = data["Heavy_Drinker"].astype("Int64")

# Map numeric codes 
data["Heavy_Drinker"] = pd.Categorical(
    data["Heavy_Drinker"].map({
        1: "No",
        2: "Yes",
        9: np.nan
    })
)

In [ ]:
# Converting  column to integer 
data["Smoker"] = data["Smoker"].astype("Int64")

# Map numeric codes to categor
data["Smoker"] = pd.Categorical(
    data["Smoker"].map({
        1: "No",
        2: "Yes",
        9: np.nan 
    })
)

In [ ]:
# Converting column to integer 
data["Obese"] = data["Obese"].astype("Int64")

# Mapping numeric codes to categories
data["Obese"] = data["Obese"].map({
    1: "No",
    2: "Yes",
    9: np.nan 
})

In [ ]:
# Converting to integer 
data["Sex"] = data["Sex"].astype("Int64")

# Mapping numeric codes to categories
data["Sex"] = data["Sex"].map({
    1: "Male",
    2: "Female"
})

In [ ]:
# Converting column to integer 
data["Age_group"] = data["Age_group"].astype("Int64")

# Defining the ordered categories
age_order = [
    "Age 18 to 24",
    "Age 25 to 34",
    "Age 35 to 44",
    "Age 45 to 54",
    "Age 55 to 64",
    "Age 65 or older"
]

# Map numeric codes to categories 
data["Age_group"] = pd.Categorical(
    data["Age_group"].map({
        1: "Age 18 to 24",
        2: "Age 25 to 34",
        3: "Age 35 to 44",
        4: "Age 45 to 54",
        5: "Age 55 to 64",
        6: "Age 65 or older"
    }),
    categories=age_order,
    ordered=True
)

In [ ]:

# Converting column to integer 
data["Physical_Activity"] = data["Physical_Activity"].astype("Int64")

data["Physical_Activity"] = pd.Categorical(
    data["Physical_Activity"].map({
        1: "Had physical activity or exercise",
        2: "No physical activity or exercise in last 30 days",
        9: np.nan
    })
)

In [ ]:
data.describe(include = "category")

In [ ]:
data.describe()

In [ ]:
import seaborn as sns

# computing correlation 
data.corr(numeric_only=True)

sns.pairplot(data)

In [ ]:
import matplotlib.pyplot as plt

# Visualizing Variables Distributions

plt.rc('font', size=14)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=14)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

data.hist(bins=50, figsize=(12, 8))
plt.show()

## Distributions of Categorical Variables

In [ ]:
cat_vars = ["Age_group", "Sex", "Obese" , "Physical_Activity", "Smoker", "Heavy_Drinker","Education_level", "Income_Cat"]

for var in cat_vars:
    print(data[var].value_counts())
    print("\n")

## Missing Values Imputation

In [ ]:
data.info() # 457669 observations

# Missing values counts by columns
data.isna().sum()

# Rows with missing values
data[data.isna().any(axis=1)]

## Data Preprocessing